.projectsContainer {
  text-align: left;
}

.projectContainer {
  border: 4px solid rgb(41, 41, 41);
}

.projectDataContainer {
  display: flex;
  flex-wrap: nowrap;
}

.projectDataInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.projectInfoContainer {
  width: 100%;
}

.projectDataImg {
  width: 30%;
  object-fit: cover;
  object-position: center;
}

.projectTitle {
  text-align: left;
  padding: 1em 2em;
  font-size: 1.5em;
}

.projectDescription {
  text-align: justify;
  padding: 0 2em;
}

.projectLinks {
  width: 100%;
  text-align: left;
  padding: 1em 2em;
}

.projectLinks a {
  padding-right: 0.25em;
}

@media screen and (max-width: 576px) {
  .projectDataContainer {
    flex-wrap: wrap;
  }

  .projectDataInfo {
    width: 100%;
  }

  .projectDataImg {
    width: 100%;
  }
}